.min-h-screen {
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.z-0 {
    z-index: -10 !important;
}

.container {
    text-align: center;
    padding: 20px;
}

.heading {
    margin: 0;
    padding: 10px;
}

.p {
    color: #555;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 190px;
    height: 190px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.slider-container {
    margin: 10px 0;
    text-align: center;
}

.slider {
    width: 200px;
    margin: 0 10px;
    cursor: pointer;
}

.card-options {
    display: flex;
    margin-top: 10px;
}

.emoji-option {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    width: 368px;
    flex-wrap: wrap;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.color-picker {
    border: 1px solid #ccc;
    background-color: #fff9e6;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    width: 368px;
    flex-wrap: wrap;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rotation {
    display: flex;
    justify-content: center;
}

.rotate-img {
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
}